/* Put your css in here */


p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  cursor:hand;cursor:pointer;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.purple {
  background: #5133ab;
}
.tile.purple:hover {
  background: #3e2784;
}
.tile.red {
  background: #ac193d;
}
.tile.red:hover {
  background: #7f132d;
}
.tile.green{
  background: #00a600;
}
.tile.green:hover {
  background: #007300;
}
.tile.blue {
  background: #2672ec;
}
.tile.blue:hover {
  background: #125acd;
}
.tile.orange {
  background: #dc572e;
}
.tile.orange:hover {
  background: #b8431f;
}
.top-control{
 margin-bottom:10px !important; 
}
.navbar,.form-control{border-radius:0px !important;}
tags-input .tags .tag-item{background-color: #00a600 !important;
    color: white; border-radius:0px !important;
    border: 0px !important;background:#00a600 !important;}
.list-group-item{padding: 0px 15px !important;cursor:hand;cursor:pointer;}
li small{color:#a9a8a8 !important;}
li small span{color:#000000 !important;}